NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority
JWT_SECRET=change_me_with_a_long_secret

ADMIN_EMAIL=admin@bakery-store.local
ADMIN_PASSWORD=change_me_please
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=User
